.cartBody{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.cartVegImg{
        width: 100%;
        height: 65vh;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #ffffff;
        gap: 15px;
        font-size: 18px;
        background: url(../assets/public/bg_1.jpeg);
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
}

.cartImgText{
    width: max-content;
    display: flex;
    gap: 15px;

    p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 2px;
    }
}

.cartImgH1{
    display: flex;
    font-weight: 1200px;
    font-size: 30px;

    h1{
        font-size: 30px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 800;
    }
}
.all-productdiv{
    height: max-content;
    width: 88%;
    /* background-color: aqua; */
    margin-top: 80px;
    overflow-x: auto;
    overflow-y: hidden;

    @media screen and (max-width:1000px) {
        width: 78%;
    }

    @media screen and (max-width:768px) {
        width: 85%;
    }

    @media screen and (max-width:500px) {
        width: 97%;
    }
}

.productHeader{
    /* width: 100%; */
    min-width: 1100px;
    height: 11vh;
    display: flex;
    background: #82AE46;
    font-family: sans-serif;

    p{
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 550;
    }
}

.icon{
    width:10%;
    height: 100%;
}

.fruits{
    width: 20%;
    height: 100%;
}

.product{
    width: 35%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}

.price{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
    
}

.quantity{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}

.total1{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 18px;
    font-weight: 600;
}

.middleProduct{
  min-width: 1100px;
  height: 29vh;
  /* margin-top: 40px; */
  display: flex;
  border-bottom: 1px solid rgb(242, 237, 237);
}

.icons1{
    width: 10%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 18px;
}

.fruits2{
    width: 20%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: 25px; */
    /* padding-left: 50px; */
    

}
.fruits2 img{
    width: 100px;
    height: 100px;
    /* display: flex;
    justify-content: center;
    align-items: center; */
    object-fit: cover;
}

.product2{
    width: 35%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    color: #808080;
    line-height: 1.5;
    font-weight: 600;
    font-size: 17px;
    padding-top: 50px;

    h3{
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
    }

    p{
        font-size: 15px;
        font-weight: 400;
        font-family: Arial, Helvetica, sans-serif;
        color: #808080;
    }
}

.prices{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;

    p{
        display: flex;
        align-items: center;
    }
}

.quantity2{
    width: 18%;
    height: 30%;
    line-height: 21px;
    border: 1px solid #808080;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 55px;
    padding: 10px;
}


.total2{
    width: 10%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000000;
    font-size: 15px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;

    p{
        display: flex;
        align-items: center;
    }
}

.finalBottom{
    width: 91%;
    height: 95vh;
    margin-top: 40px;
    display: flex;
    justify-content: space-around;
    margin-bottom: 120px;

    @media screen and (max-width:1000px) {
        flex-direction: column;
        height: max-content;
        align-items: center;
        gap: 20px;
    }

    
}

.couponWrapper{
    /* background-color: aqua; */
   width: 30.8%;
   height: 51.5vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  outline: none;

  @media screen and (max-width:1000px) {
        width: 85%;
  }
  @media screen and (max-width:768px) {
    width: 95%;
}

@media screen and (max-width:500px) {
    width: 100%;
}
}

.estimate{
    width: 31%;
    height: 88vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    

    @media screen and (max-width:1000px) {
        width: 85%;
    }

    @media screen and (max-width:768px) {
        width: 95%;
    }

    @media screen and (max-width:500px) {
        width: 100%;
    }
}

.shipping{
    width: 100%;
    height: 90vh;
    padding: 20px;
    border: 1px solid #dcdcdc88;
}

.shippingTask{
    width: 95%;
    height: 23%;
    /* padding: 10px; */
    
    h3{
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        margin-bottom: 22px;
    }
    
    p{
        line-height: 1.8;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 15px;
        font-weight: 400;
        color: #808080;
    }
}



.estimate2{
  width: 122px;
  height: 11.5%;
  background: #82AE46;
  border: 1px solid #82AE46;
  border-radius: 38px;
  margin-top: 14px;
  padding: 8px;
  outline: none;
  color: #ffffff;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 17px;
  font-weight: 400;
  cursor: pointer;
}

.estimate2:hover{
    color: #82AE46;
    background-color: white;
}

.estimateCountry{
    width: 100%;
    height: 89%;
    display: flex;
    flex-direction: column;
    outline: none;
    margin-top: 21.5px;

    main{
        height: 25%;
        width: 100%;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;

        label{
            font-size: 13px;
            font-weight: 400;
            font-family: Arial, Helvetica, sans-serif;
            letter-spacing: 0.3px;
            margin-bottom: 13px;
        }

        input{
            width: 100%;
            height: 53px;
            padding: 10px;
            /* margin-top: 25px; */
            outline: none;
            font-size: 18px;
            border: 1px solid #dcdcdc88;
        }
    }
}


.checkout{
    width: 30.5%;
    height: 56.5vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @media screen and (max-width:1000px) {
        width: 85%;
    }

    @media screen and (max-width:768px) {
        width: 95%;
    }

    @media screen and (max-width:500px) {
        width: 100%;
    }
}

.cardsContainer1{
    width: 100%;
    height: 78%;
    border: 1px solid #dcdcdc88;
    padding: 20px;
}

.proceed{
    width: 215px;
    height: 17%;
    background: #82AE46;
    border-radius: 35px;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: none;
    border: 1px solid #82AE46;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;
}

.proceed:hover{
    color: #82AE46;
    background-color: white;
}

.cardTotalHolder1{
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0.5px;
    margin-bottom: 25.5px;
  }

  .wrapper3 {
    width: 100%;
    height: 54.5%;
    display: flex;
    justify-content: space-between;
    /* background-color: aqua; */
    flex-direction: column;

    main{
        height: 30%;
        width: 100%;
        /* background-color: aqua; */
        display: flex;
        justify-content: space-between;

        p{
            width: 50%;
            font-family: Arial, Helvetica, sans-serif;
            font-size: 15px;
            font-weight: 400;
            color: #808080;
        }
    }
  }

  .totalCont1{
    /* background-color: aqua; */
    border-top: 1px solid gainsboro;
    width: 100%;
    height: 25%;
    display: flex;
    align-items: center;

    p{
        width: 50%;
        font-family: Arial, Helvetica, sans-serif; 
       font-size: 15px;
       font-weight: 400;
       color: #808080;
    }

    h3{
       font-family: Arial, Helvetica, sans-serif; 
       font-size: 15px;
       font-weight: 600;
       width: 50%;
    }
  }
  

.coupon{
    width: 100%;
    height: 75%;
    border: 1px solid #dcdcdc88;
    display: flex;
    flex-direction: column;
    padding: 20px;
    font-size: 17px;
    /* line-height: 30px; */
    font-weight: 500;
    color: #000000;

    h3{
        font-size: 16px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        letter-spacing: 0.8px;
        margin-bottom: 23px;
    }

    h4{
        font-size: 15px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        margin-bottom: 29px;
    }

    p{
        font-size: 13px;
        font-family: Arial, Helvetica, sans-serif;
        font-weight: 400;
        margin-bottom: 13px;
    }
    
}

.couponBox{
    width: 95%;
    height: 53px;
    padding: 10px;
    /* margin-top: 25px; */
    outline: none;
    font-size: 18px;
    border: 1px solid #dcdcdc88;
}

.apply{
    width: 165px;
    height: 19%;
    border-radius: 38px;
    /* margin-top: 18px; */
    color: #ffffff;
    background: #82AE46;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: 1px solid #82AE46;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 17px;
    font-weight: 400;
    cursor: pointer;

}

.apply:hover{
    color: #82AE46;
    background-color: white;
}

.apply2{
    width: 60%;
    height: 30%;
    border: 1px solid black;
    border-radius: 38px;
    margin-top: 18px;
    color: #ffffff;
    background: #82AE46;
    display: flex;
    align-items: center;
    justify-content: center;
}