
.Shop{
  width: 100%;
  height: auto;
}

.Shop-hero{
  width: 100%;
  height: 65vh;
  background-image: url(/src//assets/public/Vegefoodherofood.jpeg);
  display: flex;
  justify-content: center;
  align-items: center;
  animation: slideIn 2s ease-out;
  background-position: center;
  background-size: cover;
}

.Shop-hero-inner-div{
  width: 20%;
  height: 30%; 
  padding-top: 10px;
  display: flex;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
  justify-content: center;
  font-weight: 600;
  color: white;
  animation: slideIn 5s ease-in;
}
@keyframes slideIn {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
  
}
 
@keyframes zoomIn {
  from {
    transform: scale(0.8);
    opacity: 0.8;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
.All-vegetables-header{
  width: 100%;
  height: 32vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Vegeatbles-main-table{
  width: 100%;
  height: max-content;
  display: flex;
  justify-content: center;
  align-items: center;
}

.Vegeatbles-main-table-wrap{
  width: 83%;
  height: auto;
  display: flex;
  gap: 29px;
  /* background-color: blue; */
  padding-bottom: 150px;
  flex-wrap: wrap;
}

.vegetable-image-1{
  width: 23%;
  height: 50vh;
  animation: zoomIn 10s ease-out;
  border: 1px solid rgba(128, 128, 128, 0.548);
  cursor: pointer;
}

.All-vegetables-header-inner{
  width: 80%;
  height: 60%;
  display: flex;
  /* background-color: yellow; */
  display: flex;
  justify-content: center;
  align-items: center;
}

.explore-image-div{
  width: 20%;
  height: 100%;
  /* background-color: red; */
  display: flex;
  justify-content: center;
  align-items: center;
  animation: zoomIn 5s ease-in;

  & img {
    width: 90%;
    height: 90%;
  }
}

.explore-text-div{
  width: 70%;
  height: 100%;
  /* background-color: blue; */
  display: flex;
  justify-content: center;
  font-size: 19px;
  align-items: center;
  animation: slideIn 2s ease-in;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.vegetable-image-div{
  width: 100%;
  height: 75%;
  transition: 350ms ease-in-out;
  transform: scale(1);
  display: flex;
  justify-content: center;
  align-items: center;

  & img {
      width: 90%;
      height: 90%;
  }
}

.vegetable-image-div:hover{
    transform: scale(1.08);
}

.vegetable-text-div{
  width: 100%;
  height: 25%;
}

.item-title-div{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  flex-direction: column;
  justify-content: center;
}

.item-price-div{
  width: 100%;
  height: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-size: 18px;
  color: #82AE46;
}

@media screen and (min-width: 250px) and (max-width: 320px) {
  .Shop-hero{
    width: 100%;
  }

  .Shop-hero-inner-div{
    width: 100%;
  }

  .All-vegetables-header{
    width: 100%;
  }

  .All-vegetables-header-inner{
    width: 100%;
    height: 50%;
    /* background-color: red; */
    display: flex;
    justify-content: center;
    gap: 10px;
    align-items: center;
  }



  .explore-image-div{
    /* background-color: blue; */
    width: 50%;

    & img {
      height: 100%;
    }
  }

  .Vegeatbles-main-table{
    /* background-color: red; */

    & h1 {
      font-size: 13px;
    }
  }

  .explore-text-div{
    font-size: 7.5px;
    text-align: center;
  }

  .All-vegetables-header-inner-box-1{
    width: 100%;
    height: 70%;
    font-size: 13px;
    border-radius: 7px;
  }

  .All-vegetables-header-inner-box-2{
    width: 100%;
    height: 100%;
    font-size: 13px;
  }

  .vegetable-image-1{
    width: 100%;
  }
}

@media screen and (min-width: 321px) and (max-width: 470px) {
  .Shop-hero{
    width: 100%;
  }

  .Shop-hero-inner-div{
    width: 100%;
  }

  .All-vegetables-header{
    width: 100%;
  }

  .Vegeatbles-main-table{
    /* background-color: red; */

    & h1 {
      font-size: 15px;
    }
  }


  .All-vegetables-header-inner{
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .All-vegetables-header-inner-box-1{
    width: 100%;
    height: 70%;
    font-size: 16px;
    border-radius: 7px;
  }

  .explore-image-div{
    /* background-color: blue; */
    width: 50%;
    height: 100%;

    & img {
      height: 100%;
      width: 80%;
    }
  }

  .explore-text-div{
    font-size: 9px;
    text-align: center;
  }

  .All-vegetables-header-inner-box-2{
    width: 100%;
    height: 100%;
    font-size: 16px;
  }

  .vegetable-image-1{
    width: 100%;
  }
}

@media screen and (min-width: 471px) and (max-width: 620px) {
  .Shop-hero{
    width: 100%;
  }

  .Shop-hero-inner-div{
    width: 100%;
  }

  .All-vegetables-header{
    width: 100%;
  }

  .All-vegetables-header-inner{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .Vegeatbles-main-table{
    /* background-color: red; */

    & h1 {
      font-size: 15px;
    }
  }


  .explore-image-div{
    /* background-color: blue; */
    width: 35%;
    height: 100%;

    & img {
      height: 100%;
      width: 80%;
    }
  }

  .explore-text-div{
    font-size: 13.5px;
    text-align: center;
  }

  .All-vegetables-header-inner-box-1{
    width: 100%;
    height: 70%;
    font-size: 13px;
    border-radius: 7px;
  }

  .Vegeatbles-main-table-wrap{
    display: flex;
  }

  .All-vegetables-header-inner-box-2{
    width: 100%;
    height: 100%;
    font-size: 13px;
  }

  .vegetable-image-1{
    width: 45%;
  }
}

@media screen and (min-width: 621px) and (max-width: 1021px) {
  .Shop-hero{
    width: 100%;
  }

  .Shop-hero-inner-div{
    width: 100%;
  }

  .All-vegetables-header{
    width: 100%;
  }

  .All-vegetables-header-inner{
    width: 100%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
  }

  .Vegeatbles-main-table{
    /* background-color: red; */

    & h1 {
      font-size: 17px;
    }
  }


  .explore-image-div{
    /* background-color: blue; */
    width: 30%;
    height: 100%;

    & img {
      height: 100%;
      width: 80%;
    }
  }

  .explore-text-div{
    font-size: 17px;
    text-align: center;
  }

  .All-vegetables-header-inner-box-1{
    width: 100%;
    height: 70%;
    font-size: 16px;
    border-radius: 7px;
  }

  .Vegeatbles-main-table-wrap{
    display: flex;
  }

  .All-vegetables-header-inner-box-2{
    width: 100%;
    height: 100%;
    font-size: 16px;
  }

  .vegetable-image-1{
    width: 47%;
  }
}


