.Body{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: row;
}
.RightPart{
    width: 50%;
    height: 100%;
    background-color: aqua;
}
.LeftPart{
    width: 50%;
    height: 100%;
    /* background-color: beige; */
}
.Img{
    width: 100%;
    height: 100%;
}